html{
  min-height: 100%
}
body{
  margin:0;
  padding: 0;
  background:url(/img/mario-bg.png) no-repeat;
  background-size: 100%;
  background-color: #95e8f3;
  background-position: bottom;
  min-height:100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
}
form{
  padding: 20px;
  margin-top:60px;
}